.container-project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 20px;
    place-items: center;
    margin: 5px 20px;
}

.project-card {
    max-width: 500px;
    height: 590px;
    background-color: var(--accent3-color-Platinum);
    border: 1px solid #778DA9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0d1b2ac2;
    margin-bottom: none;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.project-card img {
    width: 100%;
    border: 1px solid #778DA9;
    border-radius: 5px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.project-card img:hover {
    transform: scale(1.03); /* Scale up the image slightly */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.project-info {
    margin-top: 10px;
}

.project-info h2 {
    font-size: 17px;
    color: var(--secondary-color-Oxford-Blue);
}

.project-info p {
    font-size: 17px;
    color: var(--accent1-color-YInMn-Blue);
    padding: 5px;
}

.project-info strong {
    color: var(--headline-color-on-white);
}

.logos img {
    height: 30px;
    width: auto;
}